@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #070715;
  overflow: hidden;
  -webkit-perspective: 800px;
          perspective: 800px;
}
p,
h1,
h2,
h3,
td {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
h1 {
  text-align: center;
  font-size: 30pt;
  margin-bottom: 5px;
}
h1,
h2 {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.socials {
  text-align: center;
}
.socials a:first-child {
  margin-right: 20px;
}
.socials img {
  width: 25px;
}
td {
  vertical-align: top;
  padding-bottom: 1em;
}
td:last-child {
  text-align: right;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.box p:last-child {
  text-align: right;
}
.box:last-child p {
  margin-bottom: 0;
}
#fav-colour {
  color: #0cf;
  cursor: pointer;
}
#canvas-holder {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left,
.right {
  position: absolute;
  overflow: auto;
  padding: 20px;
  background-color: rgba(180,89,249,0.1);
  border: 1px solid #fff;
}
.left {
  width: 500px;
  left: calc(25% - 250px);
  top: calc(50% - 235px);
}
.right {
  width: 600px;
  left: calc(75% - 300px);
  top: calc(50% - 305px);
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
#projects {
  overflow: hidden;
  float: left;
  white-space: nowrap;
  height: 100%;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.left-holder,
.right-holder {
  width: 50px;
  height: 534px;
  position: relative;
}
.left-holder,
.middle-holder {
  float: left;
}
.middle-holder {
  overflow: hidden;
  width: 498px;
  height: 534px;
  transition: all 0.2s linear;
}
.right-holder {
  float: right;
}
.left-holder img,
.right-holder img {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: calc(50% - 25px);
  transition: all 0.2s linear;
}
.fade {
  opacity: 0;
  cursor: initial !important;
}
.left-holder img:hover,
.right-holder img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.right h2 {
  text-align: center;
  margin: 0;
}
.cell {
  overflow: auto;
  width: 500px;
  padding: 5px;
  display: inline-block;
  white-space: initial;
  vertical-align: top;
}
.cell h3 {
  text-align: center;
  margin: 10px 0;
}
.cell img {
  width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
  transition: text-shadow 0.2s linear;
}
a:hover {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.4em #0bf, 0 0 0.2em #0bf, 0 0 0.2em #f0f, 0 0 1em #0bf, 0 0 1.2em #cbf;
}
.desc {
  font-style: italic;
}
@media screen and (min-width: 1040px) and (max-width: 1280px) {
  .left {
    width: 400px;
    top: calc(50% - 265px);
  }
  .right {
    width: 500px;
    left: calc(75% - 250px);
  }
  .middle-holder {
    width: 398px;
  }
  .cell {
    width: 400px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1039px) {
  .left {
    width: 300px;
    left: calc(25% - 220px);
    top: calc(50% - 326px);
  }
  .right {
    width: 480px;
    left: calc(75% - 270px);
  }
  .middle-holder {
    width: 378px;
  }
  .cell {
    width: 380px;
  }
}
@media screen and (max-width: 899px) {
  body {
    overflow: initial;
    height: calc(100% - 15px);
  }
  .left {
    position: initial;
    width: calc(100% - 30px);
    margin: 15px;
    -webkit-transform: initial !important;
            transform: initial !important;
  }
  .right {
    position: relative;
    top: initial !important;
    left: initial;
    width: calc(100% - 30px);
    margin: 15px;
    -webkit-transform: initial !important;
            transform: initial !important;
  }
  .socials {
    margin: 5px 0;
  }
  .socials img {
    width: 20px;
  }
  .left h1 {
    font-size: 20pt;
  }
  .left p {
    font-size: 11pt;
  }
  .left-holder {
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
  }
  .right-holder {
    position: absolute;
    height: 50px;
    top: 0;
    right: 0;
  }
  .left-holder img,
  .right-holder img {
    top: 0;
  }
  .middle-holder {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}